*
{
    /* outline: 1px dotted skyblue; */
}

@font-face
{
    font-family: "pixel";
    src: url("/04b03.ttf") format("truetype");
}

/* 宋体整体替换 */

@font-face 
{
    font-family: 宋体;
    src: local(YaHei Consolas Hybrid);
}

@font-face 
{
    font-family: SimSun;
    src: local(YaHei Consolas Hybrid);
}

/* Arial的中文部分替换 */

@font-face 
{
    font-family: Arial;
    unicode-range: U+4E00-9FFF;
    src: local(YaHei Consolas Hybrid);
}

:root
{
    --main-color: 128, 128, 128;

    --image-url: url('');
    --image-width: 32px;
    --image-height: 32px;
    --image-offsetX: -0px;
    --image-offsetY: -0px;
}

body 
{
    background-color: #ceebcd;
    color: #000;

    /* Allow mouse dragging. */
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    /* disable touch panning/zooming */
    -ms-touch-action: none;
    touch-action: none;

    margin: auto;
    width: fit-content;
}

#screen
{
    margin-top: 6em;
    position: relative;

    /* Hide the gap for font descenders. */
    display: block;
}

#screen canvas
{
    /* position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; */

    /* disable scaling interpolation */
    /* image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-image-interpolate: nearest-neighbor; */
}

#screen #UI
{
    position: absolute;
    width: 100%;
    height: 100%;

    pointer-events: none;
}

/*
 * ─── PAUSE MENU ─────────────────────────────────────────────────────────────────
 */

#UI #pause_menu
{
    position: absolute;

    width: 100%;
    height: 100%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;
    box-sizing: border-box;

    /* display: flex; */
    display: none;

    color: white;
    background-color: rgba(20, 20, 20, 0.9);
    pointer-events: all;
}

.navigation_tab
{
    overflow: hidden;

    flex: 0 0 150px;

    display: flex;
    flex-direction: column;
}

.navigation_tab#bottom
{
    flex: 1 1 200px;
    flex-direction: column-reverse;
}

.navigation_tab button
{
    background-color: inherit;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.navigation_tab button:hover
{
    background-color: rgba(var(--main-color), 0.5);
}

.navigation_tab button.active
{
    background-color: rgba(var(--main-color), 1.0);
}

#pause_menu #menu_content
{
    flex: 1 1 200px;
    padding-left: 20px;
    padding-right: 20px;
}

#pause_menu .tabcontent 
{
    display: none;
    border: none;

    /* animation: fadeEffect 0.3s; */
}

@keyframes fadeEffect 
{
    from {opacity: 0;}
    to {opacity: 1;}
}

.flexFiller
{
    display: flex;

    width: 100%;
    height: 100%;
}

/*
 * ─── TEAM TAB ───────────────────────────────────────────────────────────────────
 */

#pm_Team
{
    display: flex;
    flex-direction: column;

    flex: 1 0 0px;
    width: 100%;
    height: 100%;
    
    padding: 0;
}

#team_header
{
    display: flex;
    flex-direction: row;
}

#team_header h1
{
    flex: 1 0 0px;
    text-align: center;

    font-weight: normal;
    
    margin-top: 5px;
    margin-bottom: 5px;
}

#team_header p
{
    line-height: 130%;
    
    margin-top: 5px;
    margin-bottom: 5px;

    flex: 1 0 12px;
}

#team_name
{
    flex: 1 0 200px;
    display: flex;
    align-items: center;
}

#team_member
{
    flex: 0 1 150px;
    display: flex;
    align-items: center;
}

#team_tab_inventory
{
    flex: 1 0 100px;
}

#team_content
{
    display: grid;

    flex: 1 0 100px;
}

.team_character_panel
{
    display: flex;
    flex-direction: column;

    padding: 10px;

    transition: 0.3s;
}

.team_character_panel:hover
{
    background-color: rgba(100, 100, 100, 0.4);
}

#pm_Team p
{
    margin: 0px 0px; /* margin: top-bottom left-right */
    font-size: 12px;
    text-align: center;
}

#pm_Team h3
{
    margin: 0px 0px; /* margin: top-bottom left-right */
    font-size: 12px;
    color: gold;
    text-align: center;
    font-weight: normal;
}

#pm_Team ul
{
    display: table;
    margin: 0 auto;
    padding: 0;

    white-space: nowrap;
}

.show_image
{
    list-style: none;
    float: left;
    margin-right: 10px;
}

.show_image:last-child
{
    margin-right: 0px;
}

.buff
{
    position: relative;
    margin-right: 3px;
    margin-bottom: 3px;

    z-index: 1;
}

.buff .buff_timer
{
    position: absolute;
    right: 0;
    height: 100%;
    background-color: rgba(var(--main-color), 0.5);
    border-left: 1px groove white;

    z-index: 2;
}

.buff p
{
    position: absolute;
    text-align: left;
    width: 100%;

    z-index: 3;
}

#team_footer
{
    flex: 1 0 100px;

    display: flex;
    flex-direction: row;
}

#team_footer_left
{
    flex: 1 0 0px;

    display: flex;
    flex-direction: column;
}

#team_footer_right
{
    flex: 0 0 407px;
}

.pm_Team_footer_content
{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 5px;

    flex: 0 0 50%;
}

/* ensure single line */
#buff_list_team_tab_character li:nth-child(n+10)
{
    display: none;
}

.cp_content
{
    margin-bottom: 5px;
}

.cp_content:last-child
{
    margin-bottom: 0px;
}

.progress_bar
{
    background-color: darkgreen;
    position: relative;

    height: 20px;
}

.progress_bar_label
{
    position: absolute;

    width: 100%;
    height: 100%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 12px;
    font-family: SimSun;
    line-height: 100%;
    padding: 0;
    margin: 0;
}

.bar_head
{
    position: absolute;

    left: 10px;
    top: 50%;
    transform: translate(0%, -50%);
}

.bar_num
{
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress_bar_fill
{
    position: absolute;

    background-color: #4CAF50;
    text-align: center;

    border-right: 1px ridge white;

    height: 100%;
}

.show_image
{
    width: var(--image-width);
    height: var(--image-height);
    background: var(--image-url) var(--image-offsetX) var(--image-offsetY);

    position: relative;
}

.show_image span
{
    position: absolute;
    right: 0;
    bottom: 0;

    font-size: 12px;
    font-family: SimSun;
    text-align: right;
    line-height: 100%;
    background-color: #000;
    color: white;
}

/*
 * ─── CHARACTERS TAB ─────────────────────────────────────────────────────────────
 */

#pm_Characters
{
    flex: 1 0 0px;
    width: 100%;
    height: 100%;
    
    padding: 0;
}

#characterView
{
    flex: 0 0 190px;
    margin-right: 30px;

    padding-top: 30px;
}

#pm_Characters p
{
    margin: 0px 0px; /* margin: top-bottom left-right */
    font-size: 12px;
    text-align: center;
}

#pm_Characters h3
{
    margin: 0px 0px; /* margin: top-bottom left-right */
    font-size: 16px;
    color: gold;
    text-align: center;
    font-weight: normal;
}

#pm_Characters ul
{
    display: table;
    margin: 0 auto;
    padding: 0;
}

#pm_Characters ul#buff_list_character_tab_character
{
    /*9 buffs in a row*/
    width: 170px; 

    /* fixed 4 rows */
    height: 72px;
}

#pm_Characters .cp_content
{
    margin-bottom: 16px;
}

#buff_list_character_tab_character li:nth-child(9n)
{
    margin-right: 0px;
}

.equipment_row
{
    margin-bottom: 5px;
}

.equipment_row li
{
    margin-right: 4px;
}

/*
 * ─── CHARACTER STATS ────────────────────────────────────────────────────────────
 */

#characterStats
{
    flex: 1 0 0px;

    display: flex;
    padding-top: 30px;
}

#characterStats .page
{
    flex: 1 0 50%;
}

#characterStats th
{
    line-height: 100%;
    margin: 0;
}

#characterStats td
{
    font-size: 12px;
    font-family: SimSun;
    line-height: 110%;

    width: 60px;
}

#characterStats td.title
{
    width: 80px;
}

table#elements td.title,
table#elements td
{
    width: 49px;
}

tbody#avilableSkills td
{
    width: 90px;
}

tr.space
{
    height: 7px;
}

#characterStats h2
{
    margin: 4px 0px; /* margin: top-bottom left-right */
    font-size: 14px;
    color: gold;
    text-align: left;
    font-weight: normal;
}

#characterStats h3
{
    margin: 0px 0px; /* margin: top-bottom left-right */
    font-size: 12px;
    color: aquamarine;
    text-align: left;
    font-weight: normal;
}

/*
 * ─── INVENTORIES ────────────────────────────────────────────────────────────────
 */

#pm_Inventory
{
    flex: 1 0 0px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    
    padding: 0;
}

#Inventories
{
    display: flex;
    width: 100%;
}

#Inventories .scrollable_inventory_list
{
    flex: 1 0 0px;
    margin-right: 2px;
}

#Inventories .scrollable_inventory_list:last-child
{
    margin-right: 0;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #696969; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(177, 243, 255); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255); 
}

.scrollable_inventory_list
{
    padding: 4px;
    padding-right: 0;
    background-color: rgba(100, 100, 100, 0.5);
    overflow-y: scroll;
}

.scrollable_inventory_list p
{
    margin: 0px 0px; /* margin: top-bottom left-right */
    font-size: 12px;
    text-align: center;
}

.scrollable_inventory_list ul
{
    display: table;
    margin: 0 auto;
    padding: 0;
}

.inventory_block
{
    margin-right: 4px;
    margin-bottom: 4px;
    outline: 1px solid lightslategrey;
    background-color: #333;

    z-index: 100;
}

.scrollable_inventory_list > #title
{
    font-family: 'Courier New', Courier, monospace;
    line-height: 170%;
    margin-bottom: 3px;
}

/*
 * ─── TOOLTIP ────────────────────────────────────────────────────────────────────
 */
.followmouse
{
    position: absolute;
    pointer-events: none;
    max-width: 256px;

    z-index: 10000;
}

#tooltip
{
    background-color: #222;
    color: white;
    padding: 10px;
    padding-bottom: 6px;
    font-size: 12px;
    font-family: SimSun;

    line-height: 80%;

    display: none;
}

#tooltip p
{
    line-height: 130%;
}

#tooltip h1
{
    color: gold;
    font-size: 12px;
    margin-bottom: 15px;
    font-weight: normal;
}

#tooltip div
{
    width: 100%;
    margin-bottom: 1em;
}

#tooltip div:last-child
{
    margin: 0;
}

#tooltip p span
{
    /* white-space: nowrap; */
}

#tooltip p span:first-child
{
    margin-right: 3em;
}

#tooltip strong
{
    font-weight: normal;
}

#tooltip div p
{
    margin-top: 3px;
    margin-bottom: 3px;
    line-height: 120%;
    display: flex;
    justify-content: space-between;
}

#tooltip div p.rightAligned
{
    width: 100%;
    text-align: right;
}
