body {
    background-color: #ceebcd;
    color: #000;

    /* Allow mouse dragging. */
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    /* disable touch panning/zooming */
    -ms-touch-action: none;
    touch-action: none;

    margin: auto;
    width: fit-content;
}

#screen canvas{
    /* position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; */

    margin-top: 6em;

    /* Hide the gap for font descenders. */
    display: block;

    /* disable scaling interpolation */
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

/* UI */
#tooltip
{
    position: absolute;

    background-color: #222;
    color: white;
    padding: 10px;
    padding-bottom: 6px;
    font-size: 12px;

    line-height: 80%;

    display: none;
    pointer-events: none;
}

#tooltip > h1
{
    color: gold;
    font-size: 12px;
    margin-bottom: 15px;
}
